.loginLeft-Logo {
      max-width: 100%;
      height: auto;
}

.input-form {
      width: 80%;
      margin: 0 auto;
}

.input-text {
      width: 95%;
      margin-bottom: 20px;
      padding: 10px 10px;
      border-radius: 2px;
      border: 1px solid rgb(168, 165, 165);
}

.check {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
}

.checkbox {
      position: relative;
      padding-left: 26px;
}
.checkbox input {
      position: absolute;
      cursor: pointer;
      height: 16px;
      width: 16px;
      left: 0;
      top: 0;
}

a {
      text-decoration: none;
      color: #2673dd;
}
