.home-container {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #ffff;
      box-shadow: 0 1px 4px 0 rgb(74 74 78/ 12%);
}

.home-container__inner {
      max-width: 1400px;
      display: flex;
      margin: 0 auto;
      align-items: center;
}

.logo-home {
      padding: 0px 15px;
}

.home-container__search {
      padding: 0px 15px;
      width: 600px;
}
.search-form__input {
      border-radius: 5px;
      border-color: #ff9600;
      width: 100%;
      height: 42px;
}
.main-home {
      padding: 0px 15px;
      font-size: 14px;
      cursor: pointer;
}

.main-home__icon {
      font-size: 40px;
}
ul.menu {
      list-style: none;
      display: flex;
      margin-block-end: 0;
}

ul.menu li {
      display: flex;
      margin: 0 20px 0 0;
      vertical-align: top;
      max-width: 150px;
}
.menu-title {
      color: #666;
      padding-left: 10px;
      font-weight: 500;
}
